<a href="https://colab.research.google.com/github/Aditya089081/DATA-SCIENCE-TOOLBOX-PYTHON-PROGRAMMING/blob/main/Practise_Basic(1)_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
                                                                 #  PYTHON PRACTICE (1 - FEB - 2025)

In [58]:
# 1. variable
# '''
# A = 23
# print(type(A))
# a = 2+3j
# type(a)
# '''
# #  2. comment
# # we use '#' or multiline (''' or """)

# '''
# arithimatic operator = +,-,/,*
# relastional operator = >,<,==,!=
# logical operator = & , |
# '''
# python tokens = a smallest meaningfull component in a program.
# literals = constants
# a= "start"
# print(a[:])
# print(a.lower())
# print(a.upper())
# print(a.replace('s','b'))
# print(a.count('s'))
# print(a.find('t'))
# a.split('s')

In [59]:
tup1 = (1,2,3,3,54)
# # tup = (1,2,3,3,54)
# tup = [1,2,3,3,54]
# tup.append(34)
# tup.insert(0,100)
# print(tup)
# tup.reverse()

In [60]:
# dict1 = {"name":"Aditya",
#         "class": "12th",
#         "subject": "Python"}
# print(dict1["name"])
# print(dict1.keys())
# print(dict1.values())
# dict1["roll no"] = 31
# print(dict1)
# # dict1.update({"na":"Aditya"})
# print(dict1)

In [61]:
# set1 = {1,2,3,4,5,6}
# print(set1)
# set1.add(100)
# print(set1)
# set1.remove(100)
# print(set1)

In [ ]:
a = int(input("Enter year: "))
                                  # Leap year cecker
if a%4==0:
  if a%100==0:
    if (a%400==0):
      print("Leap year.")
    else:
      print("Not Leap year.")
  else:
    print("Leap year.")
else:
  print("Not Leap year.")

In [73]:
# i = 0
# while(i<10):
#   print(i)
#   i+=1
for i in tup1:
  print(i)

1
2
3
3
54